@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Global
@import 'variables';
@import 'normalize';
@import 'common';
@import 'components/components';
@import 'layouts/layouts';
@import 'pages/pages';
// Scroll to Top Button
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $secondary-color;
    color: $white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
// Footer
footer {
    background-color: #333;
    color: $white;
    padding: 20px 0;
    text-align: center;
    a {
        color: $white;
        margin: 0 10px;
        font-size: 1rem;
    }
}
// Responsive Design
@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
}